{% extends 'layout.html' %}
{% block content %}

<style>
    .add-menu-container {
        margin-top: 5%;
    }
</style>

<div class="col-xs-10 col-sm-6 col-md-6 ml-auto mr-auto add-menu-container">
    <div class="card card-style mb-2">
        <div class="card-body">
            <form action="" method="POST">
                {{ form.csrf_token() }}
                <fieldset class="form-group">
                    <legend class="mb-4">Enter Todays Poker Game Stats</legend>
                    <div class="form-group">
                        {{ form.game_type.label(class="form-control-label") }}
                        {{ form.game_type(class="form-control form-control-sm") }}
                    </div>

                    <div class="form-group">
                        {{ form.buy_in.label(class="form-control-label") }}
                        {% if form.buy_in.errors %}
                            {{ form.buy_in(class="form-control form-control-sm is-invalid") }}
                            {% for error in form.buy_in.errors %}
                                <div class="invalid-feedback">
                                    <span>{{ error }}</span>
                                </div>
                            {% endfor %}
                        {% else %}
                            {{ form.buy_in(class="form-control form-control-sm") }}
                        {% endif %}
                    </div>

                    <div class="form-group">
                        {{ form.total_pot.label(class="form-control-label") }}
                        {% if form.total_pot.errors %}
                            {{ form.total_pot(class="form-control form-control-sm is-invalid") }}
                            {% for error in form.total_pot.errors %}
                                <div class="invalid-feedback">
                                    <span>{{ error }}</span>
                                </div>
                            {% endfor %}
                        {% else %}
                            {{ form.total_pot(class="form-control form-control-sm") }}
                        {% endif %}
                    </div>

                    <div class="form-group border-bottom pb-3">
                        {{ form.submit(class="btn btn-outline-info")}}
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</div>

{% endblock %}
